<h1><%= @airline.name %></h1>
<span><%= link_to "Edit", edit_airline_path(@airline.id)%></span>
<h3>Passengers:</h3>
<ul>
<% @airline.travelers.each do | passenger | %>
    <li><%= passenger.name %></li>
<% end %>
</ul>

<div>
    <a href=<%=airlines_path%> ><button type="button">Main Menu</button></a>
</div>